#vepaste {
  display: block;
  border: 1px solid gray;
  padding: 0.5em;
}
#vepaste [data-ve-attributes] {
  display: block;
  background-color: lightcyan;
}
#vepaste [data-mw]::before {
  content: attr(data-mw);
}
